.registerBlurContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1990;
    width: 100%;
    height: 100%;
    transition: opacity .5s cubic-bezier(.77,0,.175,1);
    background-color: rgba(68,68,68,.45);
}

.registerContainer{
    width: 800px;
    height: 500px;
    top: 180px;
    left: 560px;
    z-index: 2000;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.closedRegister{
   cursor: pointer;
   width: 100%;
   display: flex;
   justify-content: end;
   padding-right: 10px;
   font-size: 20px;
   cursor: pointer;
    
}
.registerColI{
    margin-top: 40px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerColI span{
    font-weight: 600;
    font-size: 20px;
}

.registerColII{
    margin-top: 10px;
    width: 300px;
}

.registerFormContainerñ{
    display: flex;
    flex-direction: column;
  ;
   
}

.registerNameContainer{
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-bottom: 15px;
}

.registerNameContainer span{
    font-size: 13px;
   
}

.registerName{
    height: 50px;
    padding-left: 10px;
}


.registerEmailContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 60px;
}

.registerEmailContainer span{
    font-size: 13px;
}

.registerEmail{
    height: 50px;
    padding-left: 10px;
}
.registerPasswordContainer{
    display: flex;
    flex-direction: column;
    height: 60px;
}

.registerPasswordContainer span{
    font-size: 13px;
}

.registerPassword{
    height: 50px;
    padding-left: 10px;
}

.registerColIII{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
}

.registerColIII button{
    height: 40px;
    background-color: #444444;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registerColIII span{
    margin-top: 10px;
     display: flex;
     align-items: center;
     justify-content: end;
     text-decoration-line: underline;
     font-size: 14px;
     cursor: pointer;
}