@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');


.cartFullContainer{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.topCartProcessContainer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.topCartProcessTitles{
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: -12px;
    
}

.topCartProcessTitles ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.topCartProcessTitles ul li{
    width: 150px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.titleLix{
 color: #696969;
 padding-left: 20px;
}
.titleLixx{
    color: #696969;
    margin-right: 10px;
    padding-left: 50px;
   }

.topCartProcessIcon{
    width: 100%;
    height: 30px;
}
.topCartProcessIcon ul{
    width: 100%;
    list-style: none;
    display: flex;
}




.lineStep{
    width: 440px;

    border-bottom: 0.4px solid #444444
}

.lineStepActive{
    width: 210px;
    border-bottom: 3px solid #444444
}

.lineStepFinal{
    width: 200px;
    border-bottom: 1px solid #444444
}


.circleStep{
    width: 11px;
    height: 11px;
    border: 1px solid #696969;
    border-radius: 50%;
    bottom: 3px;
    -webkit-transform: translate(0,6px);
    -ms-transform: translate(0,6px);
    transform: translateY(6px);
    background: none; 
}

/* //// BODY CART */



.cartBodyContainer{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
}

.cartColumnI{
    width: 60%;
    height: 100%;
}

.cartColumnII{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.organgeBoxContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orangeBox_title{
   height: 60px;
   display: flex;
   align-items: center;
}

.orangeBox_title span{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    
}

.orangeBox__img{
    margin-top: 15px;
    display: flex;
    align-items: center;
    height: 70px;
}

.orangeBox__img span{
    width: 60%;
    font-size: 12px;
    color: #444444;
    margin-left: 1rem;
}

.orangeBox__service{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.orangeBox__titleService{
    height: 40px;
    display: flex;
    align-items: center;
}

.orangeBox__titleService span{
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.orangeBox__phone{
    display: flex;
    flex-direction: column;
}



.orangeBox__phoneNumber{
    width: 185px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orangeBox__phoneNumber span{
    font-size: 19px;
    color: #444444;
    font-family: 'Courier New', Courier, monospace;
}

.phoneIcon{
    font-size: 20px;
    color: #444444;
}

.orangePhoneSpan{
    width: 100%;
    margin-left: 2rem;
    font-size: 13.5px;
    padding-bottom: 3px;
}


.orangeBox__delivery{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orangeBox__delivery div{
    width: 110px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15px;
}
.delivery_icon{
    color: #696969;
    font-size: 30px;
}
.orangeBox__delivery div span{
    font-size: 12px;
    text-align: center;
}

.orangeBox__creditCard{
    width: 90%;
    height: 110px;
    display: flex;
    flex-direction: column;
}

.organgeCreditI{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}

.organgeCreditII{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
}


/* /// CART!!! */


.ferraroCart__titleEmpty{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_empty{
    width: 100px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc_empty{
    display: flex;
    flex-direction: column;
}

.desc_empty span{
    font-size: 15px;
}

.desc_empty button{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 25px;
    color: rgb(231, 117, 23);
    text-decoration-line: underline;
    cursor: pointer;
}




.ferraroCartContainer{
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.ferraroCart__title{
  
}

.ferraroCart__title span{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}


.ferraroCart__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}



.ferraroCart__summary{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.ferraroCart__checkout{
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.ferraroCart__checkout button{
    width: 240px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #444444;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}


/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
    
}
/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .cartFullContainer{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .topCartProcessContainer{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
    }
    
    .topCartProcessTitles{
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: -12px;
        
    }
    
    .topCartProcessTitles ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    
    .topCartProcessTitles ul li{
        width: 150px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    
    .titleLix{
     color: #696969;
     padding-left: 20px;
    }
    .titleLixx{
        color: #696969;
        margin-right: 10px;
        padding-left: 50px;
       }
    
    .topCartProcessIcon{
        width: 100%;
        height: 30px;
    }
    .topCartProcessIcon ul{
        width: 100%;
        list-style: none;
        display: flex;
    }
    
    
    
    
    .lineStep{
        width: 440px;
    
        border-bottom: 0.4px solid #444444
    }
    
    .lineStepActive{
        width: 210px;
        border-bottom: 3px solid #444444
    }
    
    .lineStepFinal{
        width: 200px;
        border-bottom: 1px solid #444444
    }
    
    
    .circleStep{
        width: 11px;
        height: 11px;
        border: 1px solid #696969;
        border-radius: 50%;
        bottom: 3px;
        -webkit-transform: translate(0,6px);
        -ms-transform: translate(0,6px);
        transform: translateY(6px);
        background: none; 
    }
    
    /* //// BODY CART */
    
    
    
    .cartBodyContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .cartColumnI{
        width: 100%;
        height: 100%;
    }
    
    .cartColumnII{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .organgeBoxContainer{
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .orangeBox_title{
       height: 60px;
       display: flex;
       align-items: center;
    }
    
    .orangeBox_title span{
        font-size: 16px;
        font-family: 'Dosis', sans-serif;
        
    }
    
    .orangeBox__img{
        margin-top: 15px;
        display: flex;
        align-items: center;
        height: 70px;
    }
    
    .orangeBox__img span{
        width: 60%;
        font-size: 12px;
        color: #444444;
        margin-left: 1rem;
    }
    
    .orangeBox__service{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .orangeBox__titleService{
        height: 40px;
        display: flex;
        align-items: center;
    }
    
    .orangeBox__titleService span{
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
    }
    
    .orangeBox__phone{
        display: flex;
        flex-direction: column;
    }
    
    
    
    .orangeBox__phoneNumber{
        width: 185px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .orangeBox__phoneNumber span{
        font-size: 19px;
        color: #444444;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .phoneIcon{
        font-size: 20px;
        color: #444444;
    }
    
    .orangePhoneSpan{
        width: 100%;
        margin-left: 2rem;
        font-size: 13.5px;
        padding-bottom: 3px;
    }
    
    
    .orangeBox__delivery{
        width: 90%;
        height: 100px;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .orangeBox__delivery div{
        width: 110px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -15px;
    }
    .delivery_icon{
        color: #696969;
        font-size: 30px;
    }
    .orangeBox__delivery div span{
        font-size: 12px;
        text-align: center;
    }
    
    .orangeBox__creditCard{
        width: 90%;
        height: 110px;
        display: flex;
        flex-direction: column;
    }
    
    .organgeCreditI{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;
    }
    
    .organgeCreditII{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-around;
      font-size: 22px;
    }
    
    
    /* /// CART!!! */
    
    .ferraroCartContainer{
        width: 95%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .ferraroCart__title{
      
    }
    
    .ferraroCart__title span{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
    }
    
    
    .ferraroCart__list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    
    .ferraroCart__summary{
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .ferraroCart__checkout{
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: flex-end;
    }
    
    .ferraroCart__checkout button{
        width: 240px;
        height: 40px;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        background-color: #444444;
        font-family: 'Dosis', sans-serif;
        cursor: pointer;
    }

}

/* Teléfonos */
@media only screen and (min-width: 400px) and (max-width: 575px){
    .cartFullContainer{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .topCartProcessContainer{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
    }
    
    .topCartProcessTitles{
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: -12px;
        
    }
    
    .topCartProcessTitles ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    
    .topCartProcessTitles ul li{
        width: 150px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    
    .titleLixxx{
        padding-left: 0px;
    }
    .titleLix{
     color: #696969;
     padding-left: 0px;
    }
    .titleLixx{
        color: #696969;
        margin-right: 0px;
        padding-left: 0px;
       }
    
    .topCartProcessIcon{
        width: 100%;
        height: 30px;
    }
    .topCartProcessIcon ul{
        width: 100%;
        list-style: none;
        display: flex;
    }
    
    
    
    
    .lineStep{
        width: 145px;
    
        border-bottom: 0.4px solid #444444
    }
    
    .lineStepActive{
        width: 60px;
        border-bottom: 2.4px solid #444444
    }
    
    .lineStepFinal{
        width: 60px;
        border-bottom: 1px solid #444444
    }
    
    
    .circleStep{
        width: 11px;
        height: 11px;
        border: 1px solid #696969;
        border-radius: 50%;
        bottom: 3px;
        -webkit-transform: translate(0,6px);
        -ms-transform: translate(0,6px);
        transform: translateY(6px);
        background: none; 
    }
    
    /* //// BODY CART */
    
    
    
    .cartBodyContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .cartColumnI{
        width: 100%;
        height: 100%;
    }
    
    .cartColumnII{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .organgeBoxContainer{
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .orangeBox_title{
       height: 60px;
       display: flex;
       align-items: center;
    }
    
    .orangeBox_title span{
        font-size: 16px;
        font-family: 'Dosis', sans-serif;
        
    }
    
    .orangeBox__img{
        margin-top: 15px;
        display: flex;
        align-items: center;
        height: 70px;
    }
    
    .orangeBox__img span{
        width: 60%;
        font-size: 12px;
        color: #444444;
        margin-left: 1rem;
    }
    
    .orangeBox__service{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .orangeBox__titleService{
        height: 40px;
        display: flex;
        align-items: center;
    }
    
    .orangeBox__titleService span{
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
    }
    
    .orangeBox__phone{
        display: flex;
        flex-direction: column;
    }
    
    
    
    .orangeBox__phoneNumber{
        width: 185px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .orangeBox__phoneNumber span{
        font-size: 19px;
        color: #444444;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .phoneIcon{
        font-size: 20px;
        color: #444444;
    }
    
    .orangePhoneSpan{
        width: 100%;
        margin-left: 2rem;
        font-size: 13.5px;
        padding-bottom: 3px;
    }
    
    
    .orangeBox__delivery{
        width: 90%;
        height: 100px;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .orangeBox__delivery div{
        width: 110px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -15px;
    }
    .delivery_icon{
        color: #696969;
        font-size: 30px;
    }
    .orangeBox__delivery div span{
        font-size: 12px;
        text-align: center;
    }
    
    .orangeBox__creditCard{
        width: 90%;
        height: 110px;
        display: flex;
        flex-direction: column;
    }
    
    .organgeCreditI{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;
    }
    
    .organgeCreditII{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-around;
      font-size: 22px;
    }
    
    
    /* /// CART!!! */
    
    .ferraroCartContainer{
        width: 95%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .ferraroCart__title{
      
    }
    
    .ferraroCart__title span{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
    }
    
    
    .ferraroCart__list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    
    .ferraroCart__summary{
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .ferraroCart__checkout{
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: flex-end;
    }
    
    .ferraroCart__checkout button{
        width: 240px;
        height: 40px;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        background-color: #444444;
        font-family: 'Dosis', sans-serif;
        cursor: pointer;
    }
}

@media only screen and (max-width: 400px){
    .cartFullContainer{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .topCartProcessContainer{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
    }
    
    .topCartProcessTitles{
        width: 100%;
        height: 30px;
        padding: 0;
        margin-bottom: -12px;
        
    }
    
    .topCartProcessTitles ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    
    .topCartProcessTitles ul li{
        width: 150px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    
    .titleLixxx{
        padding-left: 0px;
    }
    .titleLix{
     color: #696969;
     padding-left: 0px;
    }
    .titleLixx{
        color: #696969;
        margin-right: 0px;
        padding-left: 0px;
       }
    
    .topCartProcessIcon{
        width: 100%;
        height: 30px;
    }
    .topCartProcessIcon ul{
        width: 100%;
        list-style: none;
        display: flex;
    }
    
    
    
    
    .lineStep{
        width: 105px;
    
        border-bottom: 0.4px solid #444444
    }
    
    .lineStepActive{
        width: 60px;
        border-bottom: 2.4px solid #444444
    }
    
    .lineStepFinal{
        width: 60px;
        border-bottom: 1px solid #444444
    }
    
    
    .circleStep{
        width: 11px;
        height: 11px;
        border: 1px solid #696969;
        border-radius: 50%;
        bottom: 3px;
        -webkit-transform: translate(0,6px);
        -ms-transform: translate(0,6px);
        transform: translateY(6px);
        background: none; 
    }
    
    /* //// BODY CART */
    
    
    
    .cartBodyContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .cartColumnI{
        width: 100%;
        height: 100%;
    }
    
    .cartColumnII{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .organgeBoxContainer{
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .orangeBox_title{
       height: 60px;
       display: flex;
       align-items: center;
    }
    
    .orangeBox_title span{
        font-size: 16px;
        font-family: 'Dosis', sans-serif;
        
    }
    
    .orangeBox__img{
        margin-top: 15px;
        display: flex;
        align-items: center;
        height: 70px;
    }
    
    .orangeBox__img span{
        width: 60%;
        font-size: 12px;
        color: #444444;
        margin-left: 1rem;
    }
    
    .orangeBox__service{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .orangeBox__titleService{
        height: 40px;
        display: flex;
        align-items: center;
    }
    
    .orangeBox__titleService span{
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
    }
    
    .orangeBox__phone{
        display: flex;
        flex-direction: column;
    }
    
    
    
    .orangeBox__phoneNumber{
        width: 185px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .orangeBox__phoneNumber span{
        font-size: 19px;
        color: #444444;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .phoneIcon{
        font-size: 20px;
        color: #444444;
    }
    
    .orangePhoneSpan{
        width: 100%;
        margin-left: 2rem;
        font-size: 13.5px;
        padding-bottom: 3px;
    }
    
    
    .orangeBox__delivery{
        width: 90%;
        height: 100px;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .orangeBox__delivery div{
        width: 110px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -15px;
    }
    .delivery_icon{
        color: #696969;
        font-size: 30px;
    }
    .orangeBox__delivery div span{
        font-size: 12px;
        text-align: center;
    }
    
    .orangeBox__creditCard{
        width: 90%;
        height: 110px;
        display: flex;
        flex-direction: column;
    }
    
    .organgeCreditI{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;
    }
    
    .organgeCreditII{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-around;
      font-size: 22px;
    }
    
    
    /* /// CART!!! */
    
    .ferraroCartContainer{
        width: 95%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .ferraroCart__title{
      
    }
    
    .ferraroCart__title span{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
    }
    
    
    .ferraroCart__list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    
    .ferraroCart__summary{
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .ferraroCart__checkout{
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: flex-end;
    }
    
    .ferraroCart__checkout button{
        width: 240px;
        height: 40px;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        background-color: #444444;
        font-family: 'Dosis', sans-serif;
        cursor: pointer;
    }

}